<div class="header-signin-form" style = "margin-top: 32px; background-color: white;">
	<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.text_field :email, :placeholder => "email", :style => "width: 150px;margin-top: 15px;" %>
		<%= f.password_field :password, :placeholder => "password", :style => "width: 150px; margin-top: 15px;"  %>

		<%= f.submit "", :type => :image, :src => "/assets/signin_72x28.png", style: "margin-top: 15px; border: none; width: 71px; height: 28px;" %>
	<% end %>
	<a data-toggle="modal" href="#signupModal" style = "color: black; margin-left: 0px; padding: 0px;">New to Vizibid? Try it free.</a>
	<a data-toggle="modal" href="#resetpw", style = "color: black; margin-left: 38px;" >Forgot your password?</a>
</div>