<div id="resetpw" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class = "well">
		<%= form_tag password_resets_path, :method => :post do %>
		    <%= label_tag :email %>
		    <%= text_field_tag :email, params[:email], :style => "Width: 300px;" %><br/>
		  <%= submit_tag "Reset Password", :class => "btn btn-info" %>
		  <button class = "btn" data-dismiss = "modal">Cancel</button>
		<% end %>
	</div>
</div>