<% provide(:title, "Reset Password") %>
<br/><br/>
<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], :style => "Width: 300px;" %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password", :class => "btn" %></div>
<% end %>