<% provide(:title, 'Form Request Details')%>

<br/><br/>

<%= link_to "Back to Requested Documents", requestcenter_path %>
<br/><%= link_to "View Your Requests", :controller => "pages", :action => "requestcenter", :scope => "me" %>
<br/>
<br/>

<%= render 'layouts/form_request_details' %>

<br/><br/>

<%= button_to "Fufill Request", edit_form_request_path(@form_request.id), :method => :get, :class => "btn btn-info" %>
<a href="#" style="color: red;">Report inappropriate request</a>