<% if !@form.average_rating.nan? %>
	<% @rating = @form.average_rating.round(2).to_s %>
<% else %>
	<% @rating = "This document has not been rated yet." %>
<% end %>

$('.averagerating').replaceWith("<div class=\"averagerating\" style=\"Display: inline;\"> <%= escape_javascript(@rating) %> </div>");