<h3>You have <%= @form_requests.count %> requests</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br/>
<%= link_to "Back to Request Center", requestcenter_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "Request a Document", new_form_request_path %>
<hr/>
<% @i = 1 %>
<% @form_requests.each do |f| %>
  <tr>
    <td><%= render 'form_requests/form_request_summary', :f => f, :i => @i, :showstatus => 'true' %></td>
  </tr>
  <% @i += 1 %>
  <% if @i < @form_requests.count+1 %>
  	  <hr/>
  <% end %>
<% end %>