<div class = "community-content">
	<table class="table table-striped table-bordered">
		<% @subscribedforms.each do |f| %>
			<tr>
				<td class="span2">Document:</td>
				<td>
					<% name = f.user.name.gsub(' ', '_') %>
					<%= link_to f.description, form_path(f) %><br/>
					<div style="font-size: 12px;">
						uploaded <%= time_ago_in_words(f.created_at) %> ago by <%= link_to f.user.name, usershow_path(name) %> for <%= f.jurisdiction %>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
</div>