<div class="tab-content-root">
	<div class = "row-fluid">
		<div class= "span7">
			Do you have these documents?
			<ul style="list-style-type:none">
				<li>Request 1</li>
				<li>Request 2</li>
				<li>Request 3</li>
				<li>Request 4</li>
				<li>Request 5</li>
				<li><a href="#">See More +</a></li>
			<ul>
		</div>
		<div class= "span5">
			<em>[Upload documents to your folder.]</em><br/><br/><br/><br/>
			<em>[Community Contribution Stats]</em>
		</div>
	</div>
</div>