<img src="/assets/image.jpg" class="full-screen"/>

<div class="default_home_main_content">
	<h1>Collaborative Documents For Lawyers</h1>
	<a data-toggle="modal" href="#signupModal" class="btn btn-success btn-large signup">Try it for free!</a>
	<h4><a href="">Learn More...</a></h4>
</div>

<%= render 'pages/home_partials/sign_up_form_modal' %>