<div class="tab-content-root">
  <% if @followedforms.count > 0 %>
    <table class="table table-striped">
      <% @followedforms.each do |f| %>
        <tr>
          <td class="span9">
            <%= link_to f.name, form_request_path(f) %>
            <div style="font-size: 12px;">
              Requested <%= time_ago_in_words(f.created_at) %> 
              for
              <% if f.jurisdiction == "Any" %>
                any jurisdiction
              <% else %>
                <%= f.jurisdiction %>
              <% end %>
             </div>
             <div style="font-size: 12px;">
                <%= pluralize(f.comments.count, 'comments') %> 
             </div>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    You are not following any documents. Click the 'follow' button on a document page to start following.
  <% end %>
</div>