<div style="padding-left: 10px; padding-right: 5px;">
You are following <%= pluralize(@followedforms.count, "document") %>.
</div>
<div style="padding-left: 10px; padding-right: 5px; margin-top: 10px;">
There have been [x] new comments since your last session.
</div>
<div style="padding-left: 10px; padding-right: 5px; margin-top: 10px;">
There have been [y] new iterations on these documents since your last session.
</div>