<div style="padding-left: 10px; padding-right: 5px;">
You have <%= pluralize(@open_form_requests_count, "open request") %> and <%= pluralize(@closed_form_requests_count, "fulfilled request")%>.
</div>
<div style="padding-left: 10px;  padding-right: 5px; margin-top: 10px;">
there have been [x] responses to your requests of which [y] have documents from [z] users
</div>