<div>
	<%= render 'form_requests/new_form_request_modal' %>
	<ul class="nav nav-pills pull-right">
	  <li class="active"><a href="#">Open Requests</a></li>
	  <li><a href="#">Fulfilled Requests</a></li>
	</ul>
</div>
<br/>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#r1" data-toggle="tab">Request 1</a></li>
    <li class=""><a href="#r2" data-toggle="tab">Request 2</a></li>
    <li class=""><a href="#r3" data-toggle="tab">Request 3</a></li>
    <li class=""><a href="#r4" data-toggle="tab">Request 4</a></li>
    <li class=""><a href="#r5" data-toggle="tab">Request 5</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="r1">
      <p>Request 1 activity.</p>
    </div>
    <div class="tab-pane" id="r2">
      <p>Request 2 activity.</p>
    </div>
    <div class="tab-pane" id="r3">
      <p>Request 3 activity.</p>
    </div>
    <div class="tab-pane" id="r4">
      <p>Request 4 activity.</p>
    </div>
    <div class="tab-pane" id="r5">
      <p>Request 5 activity.</p>
    </div>
  </div>
</div>