<% provide(:title, 'About') %>
<div class = "well" style="background-color: white; margin-top: 30px;">
	<p>
		<span style="font-family: bariol-bold; font-size: 18px;">
			<a href="mailto:forrest@vizibid.com">Forrest Carlson</a> (co-founder)
		</span>
		<br/>
		<span style="font-family: bariol; font-size: 16px;">
			Forrest is a lawyer with a law practice in Seattle, Washington. As a practicing lawyer, he is intimately aware of lawyers’ day-to-day operational needs. Forrest is excited about the many emerging possibilities in the realm of service technologies for lawyers. Vizibid is part of Forrest’s vision for improving the legal profession through a more complete expression of the collective intelligence, training, and good will of lawyers. At Vizibid, Forrest drives the development of the customer experience, product design, and company vision.Forrest received his JD from Seattle University School of Law and his bachelor’s degree from Seattle University.
		</span>
	</p>
	<br/>
	<p>
		<span style="font-family: bariol-bold; font-size: 18px;">
			<a href="mailto:marc@vizibid.com"><b>Marc Beitchman</b></a> <b>(co-founder)</b>
		</span>
		<br/>
		<span style="font-family: bariol; font-size: 16px;">
			Marc is a professional software engineer at Microsoft in Seattle, Washington with diverse development experience ranging from low-level computer architecture and compilers to application platforms and web services. At Vizibid, Marc is in charge of product and business strategy development. Marc has a master’s degree in computer science and engineering from the University of Washington, and he received his bachelor’s degree in computer science and music engineering from the University of Miami (FL).
		</span>
	</p>
</div>
