<% provide(:title, 'About Vizibid') %>
<div class ="row backgroundtexture" style="margin-left: 0px">
	<div id = "content" class = "span12" style="background-color: white; margin-top: 30px; margin-left: 30px; margin-bottom: 30px; padding-left: 32px; padding-right: 32px">
		<h2>About Vizibid</h2>
		<h3>Vizibid Is Free for a Limited Time</h3>
		<p>
			Vizibid is presently a free service, but will eventually only be available on a paid subscription basis. Though it is currently free, you must be a licensed attorney to join Vizibid.
		</p>
		<% if !signed_in? %>
			<div class="row try-it-button mid-page">
				<a data-toggle="modal" href="#signupModal" class="btn btn-info">TRY IT FREE</a>
			</div>
		<% end %>
		<h3>Founders</h3>
		<p>
			Vizibid was co-founded by software engineer <a href="https://twitter.com/MBeitchman" target="_blank">Marc Beitchman</a> and lawyer <a href="https://twitter.com/forrest_carlson" target="_blank">Forrest Carlson</a>. 
		</p>
		<h3>Purpose</h3>
		<p>
			Vizibid's purpose is to put technology to work to improve the experience of the practice of law while simultaneously increasing access to legal services.
		</p>
		<h3>Suggestions</h3>
		<p>
			Get in touch to tell us how we can do a better job by emailing us at <a href="mailto:suggestions@vizibid.com">suggestions@vizibid.com</a>.
		</p>
	</div>
</div>

<% if !signed_in? %>
	<%= render 'pages/home_partials/sign_up_form_modal' %>
	<%= render 'password_resets/reset_pw_modal' %>
<% end %>
