<% provide(:title, 'Contact Us') %>
<div class="row">
	<div class = "span8">
		<p class= "sixteentext">
			email us with feedback or suggestions: <a href="mailto:info@vizibid.com">info@vizibid.com</a>
		<p/>
	</div>
</div>
