<% provide(:title, 'Frequently Asked Questions') %>
<div class ="row backgroundtexture" style="margin-left: 0px">
	<div id = "content" class = "span12 faq" style="background-color: white; margin-top: 30px; margin-left: 30px; margin-bottom: 30px; padding-left: 32px; padding-right: 32px">
		<h2>Frequently Asked Questions</h2>
		<h3><strong>Q:</strong> How much does Vizibid cost to use?</h3>
		<p>
			<strong>A:</strong> Vizibid is currently available for free, and we collect no payment information from you to sign up. Eventually a paid subscription will be required to access Vizibid. At that time, you will be prompted to provide payment information to keep your account active.
		</p>
		<% if !signed_in? %>
			<div class="row try-it-button mid-page">
				<a data-toggle="modal" href="#signupModal" class="btn btn-info">TRY IT FREE</a>
			</div>
		<% end %>
		<h3><strong>Q:</strong> I received an access code to create an account. Can I share the code with other lawyers?</h3>
		<p>
			<strong>A:</strong> Yes. Feel free to share your access code with any lawyer you know. Vizibid's document library and community content will only improve with the number of great lawyers who join.
		</p>
		<h3><strong>Q:</strong> I do not have an access code, but I would like one. How do I get an access code?</h3>
		<p>
			<strong>A:</strong> To get an access code, request one in an email to <a href="mailto:info@vizibid.com">info@vizibid.com</a>.
		</p>
		<h3><strong>Q:</strong> Where does Vizibid get the model documents in its library?</h3>
		<p>
			<strong>A:</strong> Primarily, Vizibid's document library is built up from the documents that lawyers like you share. Because of this, Vizibid's available documents will grow and improve as more and more lawyers join and participate. Vizibid also contributes documents of its own. Vizibid's contributions are documents that were donated to Vizibid by experienced lawyers. You can identify these donated documents because they are uploaded by a user named "Vizibid." 
		</p>
		<h3><strong>Q:</strong> I too would like to donate my entire collection of legal documents to Vizibid. Can I do that?</h3>
		<p>
			<strong>A:</strong> We would love to hear from you. Send us an email at <a href="mailto:info@vizibid.com">info@vizibid.com</a> and let us know.
		</p>
		<h3><strong>Q:</strong> Does Vizibid scan uploaded documents for computer viruses?</h3>
		<p>
			<strong>A:</strong> Yes. All files that you and other lawyers upload to Vizibid are scanned using a third-party virus scanner, <a href="https://scanii.com/" target="_blank">Scanii</a> by Uva Software, LLC, before they are added to the community document library.
		</p>
		<h3><strong>Q:</strong> When I connect to vizibid.com, my address bar shows "https" instead of "http." Why?</h3>
		<p>
			<strong>A:</strong> Every time you connect to vizibid.com, you connect over Hypertext Transfer Protocol Secure (HTTPS), which is a communications protocol for secure communications over a computer network. Vizibid uses HTTPS to help secure the information you send and receive while using vizibid.com. To learn more about HTTPS, read the entry on <a href="http://en.wikipedia.org/wiki/HTTP_Secure" target="_blank"> HTTP Secure</a> on Wikipedia.
		</p>
		<h3><strong>Q:</strong> I'm not a lawyer. Can I create a Vizibid account?</h3>
		<p>
			<strong>A:</strong> Only lawyers can create an account on Vizibid. Lawyers with accounts will someday be able to create limited subordinate accounts for their non-lawyer employees.
		</p>
		<h3><strong>Q:</strong> How do I contact Vizibid?</h3>
		<p>
			<strong>A:</strong> For general inquiries, send us an email at <a href="mailto:info@vizibid.com">info@vizibid.com</a>. For technical support issues, email us at <a href="mailto:support@vizibid.com">support@vizibid.com</a>. Send any suggestions to <a href="mailto:suggestions@vizibid.com">suggestions@vizibid.com</a>. Also, visit our <%= link_to "support page", support_path %>.
		</p>
		<h3><strong>Q:</strong> What does the word "Vizibid" mean?</h3>
		<p>
			<strong>A:</strong> "Vizibid" is a made-up word, a combination of the abbreviations <em>viz.</em> and <em>ibid.</em>, which are sometimes seen in legal writing.
		</p>
		<h3><strong>Q:</strong> Who created Vizibid?</h3>
		<p>
			<strong>A:</strong> Vizibid was co-founded by software engineer <a href="https://twitter.com/MBeitchman" target="_blank">Marc Beitchman</a> and lawyer <a href="https://twitter.com/forrest_carlson" target="_blank">Forrest Carlson</a>.
		</p>
	</div>
</div>

<% if !signed_in? %>
	<%= render 'pages/home_partials/sign_up_form_modal' %>
	<%= render 'password_resets/reset_pw_modal' %>
<% end %>