<% provide(:title, 'History') %>

<div class = "container">
	<h1>History</h1>
	<h3> Downloaded Documents </h3><br/>
	<ul>
		<% i = @formdownloads.count-1 %>
		<% while i  >= 0 %>
			<li><%= link_to @formdownloads[i].name, form_path(@formdownloads[i].id)%> on <%= time_ago_in_words(@fd[i].created_at) %> ago</li>
			<% i = i-1 %>
		<%end%>
	</ul>
	
	<h3> Requests </h3><br/>
	<ul>
		<% i = @formrequests.count-1 %>
		<% while i  >= 0 %>
			<li>
				<%= link_to @formrequests[i].name,form_request_path(@formrequests[i].id)%> on <%= time_ago_in_words(@formrequests[i].created_at) %> ago</li>
			</li>
			<% i = i-1 %>
		<%end%>
	</ul>
</div>