<% provide(:title, 'Privacy Policy') %>
<div class ="row backgroundtexture" style="margin-left: 0px">
	<div id = "content" class = "span12" style="background-color: white; margin-top: 30px; margin-left: 30px; margin-bottom: 30px; padding-left: 32px; padding-right: 32px">
		<h2>Privacy Policy</h2>

		<p>
			<strong>Effective Date: December 4, 2013</strong>
		</p>

		<p>
			This statement of Vizibid’s privacy policy covers the website <a href="http://www.vizibid.com">http://vizibid.com</a> and its subdomains (the "Websites") and the services Vizibid provides in connection with the Websites (the "Services"). Vizibid is committed to protecting and respecting your privacy. If you have any questions or concerns regarding this statement, please contact Vizibid by email at <a href="mailto:info@vizibid.com">info@vizibid.com</a>.
		</p>

		<h3>Information Collection</h3>

		<p>
			<strong>Personally Identifiable Information.</strong> Vizibid will collect personally identifiable information about you at several different points on the Websites, including those points identified below. Personally identifiable information Vizibid collects may include your name, business’s name, phone number, email address, physical address, proof of licensure as an attorney in good standing, and financial information, such as credit card number, security code, expiration date, and billing address.
		</p>

		<p>
			<strong>Registration & Subscription.</strong> Vizibid will collect personally identifiable information about you when you first complete the registration process for the creation of an account and adoption of a username and password. Vizibid collects personally identifiable information from you during registration to set up your account. Vizibid also requests and collects certain personally identifiable information from you on its order forms to process your subscriptions and orders.
		</p>

		<p>
			<strong>Information You Provide Regarding Employees and Agents.</strong> Vizibid will collect personally identifiable information that you provide regarding your employees and agents, such as information about persons for whom you register subordinate accounts. 
		</p>

		<p>
			<strong>Referrals.</strong> Vizibid may collect personally identifiable information about any person you voluntarily refer to Vizibid using Vizibid’s referral service. Vizibid may automatically send such person a one-time email inviting him or her to visit the Websites and register for an account. Vizibid will store this information for the sole purpose of sending this one-time email and tracking the success of the referral program. Such person may contact Vizibid to request that Vizibid remove this information from Vizibid’s database.
		</p>

		<p>
			<strong>Other Third Parties.</strong> Vizibid may collect personally identifiable information that you submit regarding third parties other than your employees and agents and the persons you refer to Vizibid. Vizibid does not use such information for any promotional purposes. Vizibid does not share this information with any third parties for their promotional purposes.
		</p>

		<p>
			<strong>Surveys, Contests, and Other Promotions.</strong> From time to time, Vizibid may provide you with the opportunity to participate in surveys, contests and other promotions in connection with the Websites or Services. If you participate, Vizibid will request certain personally identifiable information from you. Vizibid may use a third party service provider to conduct surveys, contests or promotions. Such providers will be prohibited from using personally identifiable information for any other purpose. Vizibid will not share the personally identifiable information you provide through a contest or survey with other third parties unless we give you prior notice and a choice.
		</p>

		<h3>Uses of Information</h3>

		<p>
			Vizibid may use personally identifiable information and other information it collects for the purposes stated below.
		</p>

		<p>
			<strong>Your Account Profile and Your Contributions.</strong> Vizibid may provide your name and a link to your account profile in connection with any documents, comments and other shared or social content that you submit in connection with your use of the Websites or Services. Your account profile, which will be accessible to other users, will display your true name (in lieu of a pseudonym or username). If your account type requires you to be a licensed attorney in good standing, your account profile will also display the jurisdictions in which you are licensed to practice law. Your account profile will contain links to documents, comments and other shared or social content that you submitted to the Websites. You will have the option to choose whether other additional information about you is visible to other users on your account profile.
		</p>

		<p>
			<strong>Your Disclosure of Information to Others.</strong> Certain portions of the Websites and Services enable you to submit content that is generally accessible to other users. If you share documents, submit comments, participate in forums, send user messages, blog, participate in a chat room, make portions of your account profile visible, or engage in other such social and shared activity, you should be aware that any information you submit (whether personal or otherwise) can be read, collected, or used by any other users of those Services and portions of the Websites. Vizibid is not responsible for the personally identifiable information you choose to submit in these shared, social, and otherwise public or quasi-public forums.
		</p>

		<p>
			<strong>Ordering and Billing.</strong> Vizibid will use the financial information you provide for billing purposes and to fill your orders. If Vizibid has trouble processing an order, Vizibid will use your information to contact you.
		</p>

		<p>
			<strong>Verification of Attorney Status.</strong> If your account type requires you to be a licensed attorney in good standing, Vizibid will use information it has collected about you to verify your status as a licensed attorney in good standing from time to time as Vizibid deems appropriate. Such verification may require that information about you be submitted to the entity governing the licensure of attorneys in one or more jurisdictions where you claim to be licensed to practice law.
		</p>

		<p>
			<strong>Contact from Vizibid.</strong> Vizibid may contact you regarding Vizibid’s services, products, special offers, newsletters, promotions, and service-related updates. Out of respect for your privacy, Vizibid will endeavor to present the option of opting out of these types of communications. If you have participated in a survey, contest or other promotion, Vizibid may use information it has collected to notify you if you are a contest winner. If you have requested customer service assistance, Vizibid may contact you regarding your request.
		</p>

		<p>
			<strong>Improvements to the Websites and Services.</strong> Vizibid uses the collected information for the purposes of understanding Vizibid’s customers’ geographic and demographic distribution, to improve and modify Vizibid’s products to better meet customers’ needs, and to enable effective communication with customers.
		</p>

		<p>
			<strong>Log Files.</strong> Vizibid gathers certain information automatically and stores it in its log files. This information includes internet protocol addresses, browser type, internet service provider, referring/exit pages, operating system, date/time stamp, and clickstream data. Vizibid uses this information, which does not identify individual users, to analyze trends, to administer the Websites, to track customers’ navigation of the Websites, and to gather demographic information about customers as a whole. Vizibid does not link this automatically-collected data to personally identifiable information. 
		</p>

		<p>
			<strong>Cookies.</strong> A cookie is a small text file that is stored on a customer’s computer for record-keeping purposes. Vizibid, like many online services, uses cookies on the Websites. Vizibid does not link the information it stores in cookies to any personally identifiable information you submit while using the Websites or Services. Vizibid uses both session ID cookies and persistent cookies. Vizibid uses session cookies to make it easier for you to navigate the Websites. A session ID cookie expires when you close your browser. A persistent cookie remains on your hard drive for an extended period of time. You can remove persistent cookies by following directions provided in your browser’s "help" file. 
		</p>

		<p>
			Vizibid sets a persistent cookie to store your password so you do not have to enter it more than once. Persistent cookies also enable Vizibid to track and target the interests of Vizibid’s customers to enhance and improve the experience of using the Websites and Services.
		</p>

		<p>
			If you reject cookies, you may still use the Websites and Services, but your ability to use some areas of the Websites may be limited.
		</p>

		<p>
			<strong>Preference Portfolio.</strong> Vizibid stores information that it collects through cookies and log files to create a portfolio of your preferences. Vizibid does not tie your personally identifiable information to information in your preference portfolio. Vizibid uses the information in the preference portfolio in order to provide you a tailored user experience while on the Websites or using the Services. Vizibid does not share your preference portfolio with third parties.
		</p>

		<p>
			<strong>Aggregate Information.</strong> Vizibid may share aggregated demographic information about its user base with partners, advertisers and potential investors. Such information does not identify individual users, and Vizibid does not link aggregate user data with personally identifiable information.
		</p>

		<p>
			<strong>Employees, Contractors, Agents, and Service Providers.</strong> Some or all of Vizibid’s employees, contractors, agents, and service providers, in the course of performing their work for Vizibid, may be able to access your personally identifiable information and other information you provide. Vizibid may share your personally identifiable information and other information you provide with its employees, contractors, agents, and service providers as necessary to enable them to perform their work for Vizibid. By way of example, Vizibid may use an outside credit card processing company to bill you for subscription services or other agreed charges.
		</p>

		<p>
			<strong>Legally Required Disclosures.</strong> Vizibid reserves the right to disclose personally identifiable information and other information as required by law, including when disclosure is necessary to protect Vizibid’s rights or to comply with a judicial proceeding, court order, subpoena, or legal process served on Vizibid. Vizibid may disclose any information to prevent damage to Vizibid’s property (tangible and intangible), for safety reasons, or in the course of collecting amounts owed to Vizibid.
		</p>

		<p>
			<strong>Information Storage.</strong> Vizibid may store your personally identifiable information and other information about you on servers owned and operated by one or more third party companies. Such company or companies will not share or use your personally identifiable information for any purpose other than to provide Vizibid with storage of and access to the information.
		</p>

		<p>
			<strong>Other Disclosures of Information.</strong> Except as otherwise stated herein, Vizibid does not disclose your personally identifiable information to anyone.
		</p>

		<h3>Other Privacy Information</h3>

		<p>
			<strong>"Do Not Track."</strong> The Websites and Services that Vizibid provides are by their very nature collaborative, social and somewhat public, and much of the value Vizibid provides to its users is derived from Vizibid’s collection of historical data from all of its users. To provide the Websites and Services to you and to ensure the quality of the Websites and Services for all other users, Vizibid must be able to verify your identity and collect the above-stated personally identifiable  information and information about how you engage with the Websites and Services. If you employ "do not track" signals or other mechanisms that provide you the ability to exercise choice regarding the collection of  information about your online activities over time, Vizibid will nevertheless continue collecting the information described above, which Vizibid needs to ensure the quality of the Websites and Services. 
		</p>

		<p>
			<strong>Modifying Information.</strong> If your personally identifiable information changes, you may correct or update your personally identifiable information. If you wish to terminate your use of the Websites or Services, you may deactivate your account by contacting Vizibid’s customer support at <a href="mailto:info@vizibid.com">info@vizibid.com</a>. When deactivating your account, you may elect to delete your personally identifiable information. 
		</p>

		<p>
			<strong>Security.</strong> The security of your personal information is important to Vizibid. Vizibid follows generally accepted industry standards to protect the personal information submitted to Vizibid, both during transmission and once the information is received. No method of transmission over the internet, nor any method of electronic storage, is 100% secure, however. Therefore, while Vizibid strives to use commercially acceptable means to protect your personal information, Vizibid cannot guarantee its absolute security. When you enter sensitive information (such as your credit card number) during the payment process, Vizibid encrypts that information using secure socket layer (SSL) technology to ensure its safety.
		</p>

		<p>
			<strong>Privacy After a Business Transition, Insolvency, or Bankruptcy.</strong> In the event Vizibid goes through a business transition such as a merger, acquisition by another company, or sale of all or a portion of its assets, becomes insolvent, or files for bankruptcy, your personally identifiable information will likely be among the assets transferred during the process. You will be notified via email and a prominent notice on the Websites for 30 days of any such change in ownership or control of your personal information.
		</p>

		<p>
			<strong>Changes to this Privacy Statement.</strong> If Vizibid changes its privacy policy, including any material changes, Vizibid will notify you of those changes to this statement by email and/or a conspicuous designation of the changes and a link to the modified privacy statement on the home page of the Websites. Vizibid reserves the right to modify this privacy statement at any time.
		</p>
	</div>
</div>

<% if !signed_in? %>
	<%= render 'pages/home_partials/sign_up_form_modal' %>
	<%= render 'password_resets/reset_pw_modal' %>
<% end %>