<% provide(:title, 'Request Center') %>
<h3>Request Center</h3>
<br/>
<!-- Form Request List -->
<% if @form_requests != nil %>

	<%if params[:scope] == "me" %>
		<%= render 'pages/requestcenter_partials/requestcenter_my_requests' %>
	<% else %>
		<%= render 'pages/requestcenter_partials/requestcenter_all_requests' %>
	<% end %>

<% end %>