<% provide(:title, 'Share Forms') %>
<h1>Share Forms</h1>

<%= form_for @form, :html => {:multipart => true} do |f| %>
  <div class="field">
    <%= f.file_field :form %>
  </div>
  <div class="actions">
    <%= f.submit "Upload", :class=> "btn btn-large btn-primary"%>
  </div>
<% end %>