<% provide(:title, 'Support') %>
<div class ="row backgroundtexture" style="margin-left: 0px">
	<div id = "content" class = "span12" style="background-color: white; margin-top: 30px; margin-left: 30px; margin-bottom: 30px; padding-left: 32px; padding-right: 32px">
		<h2>Support</h2>
		<p>
			For assistance with your account settings and security, payment issues, and other troubleshooting concerns, email us at <a href="mailto:support@vizibid.com">support@vizibid.com</a>.
		</p>
		<h2>Contact Us</h2>
		<p>
			For other questions, comments, feedback, and suggestions send us an email at <a href="mailto:suggestions@vizibid.com">suggestions@vizibid.com</a>.
		<p/>
	</div>
</div>