<% provide(:title, 'Terms of Use') %>
<div class ="row backgroundtexture" style="margin-left: 0px">
	<div id = "content" class = "span12" style="background-color: white; margin-top: 30px; margin-left: 30px; margin-bottom: 30px; padding-left: 32px; padding-right: 32px">
		<p>Terms of Use</p>
	</div>
</div>