<h2>How does Vizibid work?</h2>
<p>
	Vizibid is a <em>community of lawyers</em> who contribute documents and ideas for the benefit of each other. Vizibid has the potential to democratize legal documents, an immense potential&#151;but it will only work if lawyers like you share your model legal documents with the rest of the legal community. In other words, <em>you</em> are what makes Vizibid such a powerful tool.
</p>
<p>
	Vizibid is simple to use. All you need is a modern web browser and a license to practice law. Click the "Try It Free" button to get started.
</p>
<% if !signed_in? %>
	<div class = "row try-it-button">
		<a data-toggle="modal" href="#signupModal" class="btn btn-info pull-right">TRY IT FREE</a>
	</div>
<% end %>

<% if !signed_in? %>
	<%= render 'pages/home_partials/sign_up_form_modal' %>
	<%= render 'password_resets/reset_pw_modal' %>
<% end %>