<div class = "row">
	<h2>How does Vizibid work?</h2>
</div>
<div class = "row try-it-button">
	<a data-toggle="modal" href="#signupModal" class="btn btn-info pull-right">TRY IT FREE</a>
</div>

<%= render 'pages/home_partials/sign_up_form_modal' %>