<div class = "row">
	<h2>What is Vizibid?</h2>
</div>
<div class = "row">
	<p>Vizibid is a collaborative model document library for lawyers. Whenever a lawyers needs to draft a new document, Vizbid will help the lawyer quickly find and download reliable examples of the document that other lawyers have already drafted.</p>
</div>
<div class = "row">
	<h2>The Problem</h2>
</div>
<div class = "row">
	<p>In everyday law practice, lawyers draft a lot of documents. When drafting new documents, lawyers turn to examples of similar documents to use as templates. The problem is that high quality model documents are almost always expensive, hard to find, or both. For example, a Westlaw subscription may cost a lawyer $3,600 or more for a minimum two- year contract, form books usually cost over $300 apiece, and existing legal document websites charge up-front fees to download generic documents, sight unseen. Lawyers spend a lot of money and time on this problem.</p>
</div>
<div class = "row">
	<h2>The Solution</h2>
</div>
<div class = "row">
	<p>Vizibid will enable lawyers to search for any document they want and download as many examples of each document as they think they need. If a document is not yet part of Vizibid’s library, a lawyer will be able to request it from Vizibid’s other users. Those lawyers can respond by adding the requested document to Vizibid’s collection. In this way, Vizibid’s document database will always be growing. Lawyers will also be able to comment on and rate Vizibid’s documents, making it easier for other lawyers to evaluate documents quickly and see the best documents in search results at a glance.</p>
</div>
<div class = "row try-it-button">
	<a data-toggle="modal" href="#signupModal" class="btn btn-info pull-right">TRY IT FREE</a>
</div>

<%= render 'pages/home_partials/sign_up_form_modal' %>