<h2>What is Vizibid?</h2>
<p>
	<strong>Vizibid is a lawyers-only community for sharing model legal documents in the cloud.</strong> Vizibid uses the latest in cloud technology to archive the shared documents and shared knowledge of practitioners in an easily searchable community library.</strong>
</p>
<p>
	Vizibid enables you to:
	<ul>
		<li><strong>Search the community library</strong> for any documents you need, regardless of practice area, and download anything you find.</li>
		<li><strong>Request any document you need</strong>. Your request will be displayed to other lawyers in the Vizibid community.</li>
		<li><strong>Add documents to the community library</strong> in response to requests.</li>
		<li><strong>Build your reputation in the legal community</strong> as a knowledgeable contributor in your practice areas.</li>
	</ul>
</p>
<% if !signed_in? %>
	<div class = "row try-it-button">
		<a data-toggle="modal" href="#signupModal" class="btn btn-info pull-right">TRY IT FREE</a>
	</div>
<% end %>

<% if !signed_in? %>
	<%= render 'pages/home_partials/sign_up_form_modal' %>
	<%= render 'password_resets/reset_pw_modal' %>
<% end %>