<h2>Why use Vizibid?</h2>
<p>
	<strong>Vizibid will save you money.</strong> You can stop buying form books, paying for expensive form subscriptions, and paying per download for generic documents you've never seen before. 
</p>
<p>
	<strong>Vizibid will save you time.</strong> Spare yourself a trip to the law library. Stop wasting your hours poring over search engine results. Vizibid's search engine returns only legal documents and gives you the tools you need to evaluate them quickly. 
</p>
<p>
	<strong>Vizibid makes you look smarter.</strong> When you have the most up-to-date documents in the legal community at your fingertips, it's hard not to look smart.
</p>
<% if !signed_in? %>
	<div class = "row try-it-button">
		<a data-toggle="modal" href="#signupModal" class="btn btn-info pull-right">TRY IT FREE</a>
	</div>
<% end %>

<% if !signed_in? %>
	<%= render 'pages/home_partials/sign_up_form_modal' %>
<% end %>