<div class = "row">
	<h2>Why Vizibid?</h2>
</div>
<div class = "row">
	<p>Vizibid is the right solution for several reasons:</p>
</div>
<div class = "row">
	<ul>
		<li>
			<strong>Price.</strong> Content is user generated which allows us to offer the service at very compeitive price.
		</li>
		<li style="margin-top: 14px;">
			<strong>Quality and Quantity.</strong> Our goal is for Vizibid’s collection of documents to exceed existing databases in terms of both size and quality because we expect it will soon be updated minute-by-minute with new documents, comments, and ratings.
		</li>
		<li style="margin-top: 14px;">
			<strong>Confidence.</strong> By charging a monthly subscription instead of per download, Vizibid  encourages its users to explore its library and download freely. Vizibid’s users  know that every document, every rating, and every comment was submitted by a fellow lawyer, which keeps each user’s confidence in the service high.
		</li>
		<li style="margin-top: 14px;">
			<strong>Professional Opportunities.</strong> Lawyers who participate by sharing documents and comments are recognized for their expertise among their lawyer peers. A contributing user’s profile on Vizibid is a valuable networking tool and lead generator for client referrals.
		</li>
	</ul>
</div>
<div class = "row try-it-button">
	<a data-toggle="modal" href="#signupModal" class="btn btn-info pull-right">TRY IT FREE</a>
</div>

<%= render 'pages/home_partials/sign_up_form_modal' %>