<div class="downloaded-documents-pane-content">
    <table class="table table-striped">
		<thead>
			<tr>
				<th class="span8">Document</th>
				<th class="span2">Jurisdiction</th>
				<th class="span2">Practice Area</th>
			</tr>
		</thead>
		<% @formdownloads.each do |f| %>
			<tr>
				<td>
					<%= link_to f.form.description, form_path(f.form) %><br/>
					<div style="font-size: 12px;">
						downloaded <%= time_ago_in_words(f.created_at) %> ago
					</div>
				</td>
				<td><%= f.form.jurisdiction %></td>
				<td>
					<% if f.form.practice_area != nil %>
						<%= f.form.practice_area.practice_area_title %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>