<div>
	Vizibid is not a law firm and does not provide legal advice. Using the Vizibid websites and services or sending Vizibid an email does not constitute legal advice and does not create an attorney-client relationship. Vizibid provides all websites, services, information, tools, and license on an "as-is" basis.
</div>