<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>New comment received from: <%= link_to @currentuser.name, user_url(@currentuser) %> on <%= link_to @form.description, form_url(@form)%></p>
    <p>
      Comment: <%= @comment.content %><br/><br/>
    </p>
  </body>
</html>