<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>New feedback received from, <%= @user.name %>, <%= @user.email %></h3>
    <p>
      Subject: <%= @subject %><br/><br/>
    </p>
    <p>
      Message: <%= @message %>
    </p>
  </body>
</html>