<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Document reported as inappropriate</h3>
    <p>
      Reported by: <%= @user.name %><br/><br/>
    </p>
    <p>
      For document: <%= link_to @form.name, form_url(@form, :only_path => false, :host=>'https://murmuring-chamber-5143.herokuapp.com') %>
    </p>
    <p>
      Reason: <%= @reason %>
    </p>
  </body>
</html>