<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Request reported as inappropriate</h3>
    <p>
      Reported by: <%= @user.name %><br/>
    </p>
    <p>
      For request: <%= link_to @request.name, form_request_url(@request, :only_path => false, :host=>'vizibid.com') %>
    </p>
    <p>
      Reason: <%= @reason %>
    </p>
  </body>
</html>