<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Document reported as inappropriate</h3>
    <p>
      Reported by: <%= @user.name %>, <%= @user.email %><br/><br/>
    </p>
    <p>
      For document: <%= @form.name (@form.id) %>
    </p>
  </body>
</html>