<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= image_tag attachments['logo.png'].url, height: '30', width: '115' %>
    <p>
      Hello,<br/><br/>
      <%= @currentuser.name %> shared the attached document with you on <a href="http://www.vizibid.com">vizibid.com</a>.
    </p>
    <% if @shared_form.description != nil %>
    <p>
      Description: <%= @shared_form.description %>
    </p>
    <% end %>
    <p>
      See lawyers' comments and ratings for this document on Vizibid: <%= link_to @form.description, form_url(@form) %>
    </p>
    <p>
      Find more model legal documents for your law practice on <a href="http://www.vizibid.com">Vizibid</a>.
    </p>
    <div>
      Vizibid is not a law firm and does not provide legal advice. Using the Vizibid websites and services or sending Vizibid an email does not constitute legal advice and does not create an attorney-client relationship. Vizibid provides all websites, services, information, tools, and licenses on an "as-is" basis.
    </div>
  </body>
</html>