<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hello,<br/><br/>
      <%= @currentuser.name %> has shared the attached Vizibid document with you.
    </p>
    <% if @shared_form.description != nil %>
    <p>
      Description: <%= @shared_form.description %>
    </p>
    <% end %>
    <p>
      <%= link_to @form.description, form_url(@form) %>
    </p>
    <p>
      Check out <a href="www.vizibid.com">Vizibid</a>
    </p>
    <%= render 'mailer/corp_disclaimer_html' %>
  </body>
</html>