<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Document failed a virus scan</h3>
    <p>
      Uploaded by: <%= @user.name %><br/>
    </p>
    <p>
      For document: <%= link_to @form.description, form_url(@form, :only_path => false, :host=>'vizibid-dev.herokuapp.com') %>
    </p>
    <%= render 'mailer/corp_disclaimer_html' %>
  </body>
</html>