<div id="deleteDocModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="well">
  	<strong>Are you sure you want to delete this document?</strong>
  	<br/><br/>
  	<%= submit_tag "Delete", {:controller => :forms,
      :action => 'destroy', :class => "btn btn-danger",:id => formid,} :method => :delete %>
    <%= submit_tag "Cancel", :class => "btn", :'data-dismiss' => "modal" %>
  </div>
 </div>

 <a style = "color: red;" data-toggle="modal" href="#deleteDocModal" >Delete this document</a>