<div id="downloadformModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin: -250px 0 0 -150px;">
	<div class="well">
		<%= link_to "Click to Download", {:controller => "forms", :action =>"download", :id => @form.id}, :class => "downloadlink" %> 
		<br/>
		<h4>(<%= form.form.to_s.split('.').last %> format)</h4><br/>
		<%= button_to "Done", {:controller => "forms", :action =>"show", :id => form.id}, :class => "btn btn-info", :method => :get %>
	</div>
</div>
 
 <% if @pemitted_user %>
 	<a class= "downloadlink" data-toggle="modal" href="#downloadformModal" data-backdrop="static" data-keyboard="false" >Download</a>
<% else %>
	<%= render 'layouts/noaccess_modal.html.erb', :type => "download" %>
 <% end %>