<div id="saveformModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin: -250px 0 0 -150px;">
	<div class="well">
		[This will be finished when the mock up is done]
		<button class = "btn" data-dismiss = "modal">Close</button>
	</div>
</div>
 
<% if smallbutton == true %>
	<a data-toggle="modal" href="#saveformModal" data-backdrop="static" data-keyboard="false" >Save</a>
<% else %>
	<a class= "btn btn-warning" data-toggle="modal" href="#saveformModal" data-backdrop="static" data-keyboard="false" style="width: 85px;" >Save</a>
<% end %>
