<div style ="display:inline-block;">
	<%= form_tag root_path, :style=>"margin-top:25px;", :method => 'get' do %>
		<%= text_field_tag :search, params[:search], :placeholder => "Search", :class => "searchbox"%>
		<%= submit_tag "Search", :class => "btn btn-info" %>
	<% end %>
</div>