<div style ="display:inline-block;">
	<%= form_tag root_path, :method => 'get' do %>
		<%= text_field_tag :search, params[:search], :placeholder => "Search for Documents", :class => "searchbox"%>
		<%= submit_tag "Search", :class => "btn btn-info" %>
	<% end %>
</div>
<span style="margin-left: 70px"><%= render 'form_requests/new_form_request_modal' %></span>