<% provide(:title, 'Form Details')%>

<H1><%= File.basename(@form.form.url, File.extname(@form.form.url)) %></H1>
<div class="center">
<a href ="<%= @form.form.url %>" target="_blank">Download</a>
</div>