@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

.containersignedout {
  width: 1000px;
}

html {
  overflow-y: scroll;
}

.maincontent{
 background-color: white; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Arial";
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  height: 30px;
  margin-bottom: 10px;
}

.jurisdropdown{
  width: 150px;
}

.commentfield
{
  margin-top: 15px;
  margin-bottom: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .searchbox {
    width: 450px;
    margin-top: 10px;
  }


/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

.formCommentContent{
  width: 800px; margin-left: 19px;
}

#requestsummary{
  border:1px solid gray;
  padding:5px;
  margin: 5px;
}

form.rating_ballot input#rating_submit { display: none; }
form.rating_ballot input.rating_button { display: none; }
form.rating_ballot label.rating { cursor: pointer; display: block; height: 20px; width: 20px; float: left; }
form.rating_ballot label.rating span { display: none; }
form.rating_ballot label.rating { background-image: url('star-outline.png'); }
form.rating_ballot label.rating.bright { background-image: url('star-dim.png'); }
form.rating_ballot label.rating.glow { background-image: url('star-dim.png'); }

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0px;
}

.nested_responses {
  margin-left: 30px;
}

.nested_responses .nested_responses .nested_responses .nested_responses .nested_responses .nested_responses  {
  margin-left: 0px;
}

.votearrow{
    color: black;
    text-decoration: none;
}

.votearrow:hover{
    color: black;
    text-decoration: none;
}

.votearrowup{
    color: #44dd00;
    text-decoration: none;
}

.votearrowup:hover{
    color: #44dd00;
    text-decoration: none;
}

.votearrowdown{
    color: red;
    text-decoration: none;
}

.votearrowdown:hover{
    color: red;
    text-decoration: none;
}

.commentusername:hover{
    text-decoration: none;  
}

.commentsort{
  width: 100px;
}

.closebutton{
  text-decoration: none;
  color: gray;
}

.closebutton:hover{
    text-decoration: none;
    color: gray;  
}

.footertitle
{
  color: #0070c0;
}

.footerp
{
    font-size: 14px;
    color: black; 
}

.bluetext
{
  color: #0070c0;
}

.sixteentext{
  font-size: 16px;
}

.bottomborder{
  border-bottom: 1px solid black;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar-signed-links {
  margin-top: 25px;
  color: black;
  a{
    color: black;
    font-size: 14px;

  }
}

.header-signin-form{
  form{
    margin-bottom: -8px;
    margin-top: -6px;
  }

  a{
    font-size: 11px;
    color: white;
  }
}

.full-screen {
  z-index: -999;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 95%;
  position: absolute;
  top: 0;
  left: 0;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: #fff;
  background-color: #000;
  font-size: 12px;
}

.footer_main_links{
  display: inline-block;
  width: 33%;
  text-align: center;
  a{
    color: white;
  }
}

.footer_social_links{
  display: inline-block;
  width: 33%;
}

.footer_social_span{
  margin-left: 20px;
  float: none;
}

.footer_copyright{
  display: inline-block;
  width: 33%;
  text-align: right;
}

.footer_copyright_span
{
  margin-right: 20px;
  float: none;
}

.main_footer_div{
  margin-top: 3px;
}

/* main content panel */

.default_home_main_content{
  position: relative;
  width: 500px;
  top: 70px;
  left: -10px;

  a, h1{
    color: white;
  }

  a.signup{
    position: relative;
    left: 35%
  }

  h4{
    position: relative;
    left: 37%
  }
}

.search-doc-name{
    font-size: 15px;
}

.search-doc-content{
  font-size: 13px;
}

.search-seperator{
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
}

.rating_ballot{
  margin-bottom: 2px;
}

div.CarouselBox {
  background-color: white;
}

.teaser{
  background-image: url('diagonal-lines.png');
}

.teaser2{
  background-image: url('teaser2.png');
  width: 960px;
  height: 462px;
}

.teaser3{
  background-image: url('teaser3.png');
  width: 960px;
  height: 462px;
}

.teaser4{
  background-image: url('teaser4.png');
  width: 960px;
  height: 462px;
}