$navbarLinkColor: #000000;
$navbarLinkBackgroundActive: #000;
$navbarLinkBackgroundHover: #000000;
$navbarLinkColorHover: #000;
$navbarLinkColorActive: #000;
$navbarText: #000000;
$navbarBackgroundHighlight: #fff;
$navbarBackground: #fff;
$navbarText: #000000;


@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Times New Roman";
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.5em;
  color: #fff;
  font-family: "Times New Roman";
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #0070c0;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #999;
  font-size: 75%;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: center;
    list-style: none;
    text-align: center;
    li {
      display: inline;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  height: auto;
  @include box_sizing;
}

.jurisdropdown{
  width: 150px;
}

.commentfield
{
  margin-top: 15px;
  margin-bottom: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* todo: fix this so the negative margin is not needed */
 .searchbox {
    width: 500px;
  }


/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

.downloadlink{
   font-size: 25px;
}

#requestsummary{
  border:1px solid gray;
  padding:5px;
  margin: 5px;
}

form.rating_ballot input#rating_submit { display: none; }
form.rating_ballot input.rating_button { display: none; }
form.rating_ballot label.rating { cursor: pointer; display: block; height: 20px; width: 20px; float: left; }
form.rating_ballot label.rating span { display: none; }
form.rating_ballot label.rating { background-image: url('star-outline.png'); }
form.rating_ballot label.rating.bright { background-image: url('star-dim.png'); }
form.rating_ballot label.rating.glow { background-image: url('star-dim.png'); }

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0px;
}

.nested_responses {
  margin-left: 30px;
}

.nested_responses .nested_responses .nested_responses .nested_responses .nested_responses .nested_responses  {
  margin-left: 0px;
}

.votearrow{
    color: black;
    text-decoration: none;
}

.votearrow:hover{
    color: black;
    text-decoration: none;
}

.votearrowup{
    color: #44dd00;
    text-decoration: none;
}

.votearrowup:hover{
    color: #44dd00;
    text-decoration: none;
}

.votearrowdown{
    color: red;
    text-decoration: none;
}

.votearrowdown:hover{
    color: red;
    text-decoration: none;
}

.commentmodallink:hover{
    text-decoration: none;
}

.commentusername:hover{
    text-decoration: none;  
}

.commentsort{
  width: 100px;
}

.closebutton{
  text-decoration: none;
  color: gray;
}

.closebutton:hover{
    text-decoration: none;
    color: gray;  
}

.footerli
{
    float: left;
    clear: left;
    font-size: 16px;
}

.headerli
{
    font-size: 16px;
}

.footertitle
{
  color: #0070c0;
}

.footerp
{
    font-size: 14px;
    color: black; 
}

.bluetext
{
  color: #0070c0;
}

.sixteentext{
  font-size: 16px;
}