// Place all the @font-face and other universal font-related styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ** Note the use of relative URLs.

$baseFontFamily: Helvetica, Sans-Serif;

@font-face {
    font-family: 'bariol';
    src: url('../fonts/Bariol_Regular/bariol_regular.eot');
    src: url('../fonts/Bariol_Regular/bariol_regular.eot') format('embedded-opentype'),
         url('../fonts/Bariol_Regular/bariol_regular.woff') format('woff'),
         url('../fonts/Bariol_Regular/bariol_regular.ttf') format('truetype'),
         url('../fonts/Bariol_Regular/bariol_regular.svg#BariolRegular') format('svg');
}


@font-face {
    font-family: 'bariol-light';
    src: url('../fonts/Bariol_Light/bariol_light.eot');
    src: url('../fonts/Bariol_Light/bariol_light.eot') format('embedded-opentype'),
         url('../fonts/Bariol_Light/bariol_light.woff') format('woff'),
         url('../fonts/Bariol_Light/bariol_light.ttf') format('truetype'),
         url('../fonts/Bariol_Light/bariol_light.svg#BariolLight') format('svg');
}


@font-face {
    font-family: 'bariol-bold';
    src: url('../fonts/Bariol_Bold/bariol_bold.eot');
    src: url('../fonts/Bariol_Bold/bariol_bold.eot') format('embedded-opentype'),
         url('../fonts/Bariol_Bold/bariol_bold.woff') format('woff'),
         url('../fonts/Bariol_Bold/bariol_bold.ttf') format('truetype'),
         url('../fonts/Bariol_Bold/bariol_bold.svg#BariolBold') format('svg');
}