// Place all the @font-face and other universal font-related styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$baseFontFamily: Helvetica, Sans-Serif;

@font-face {
    font-family: 'bariol';
    src: url('/assets/bariol_regular.eot');
    src: url('/assets/bariol_regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/bariol_regular.woff') format('woff'),
         url('/assets/bariol_regular.ttf') format('truetype'),
         url('/assets/bariol_regular.svg#bariol') format('svg');
}


@font-face {
    font-family: 'bariol-light';
    src: url('/assets/bariol_light.eot');
    src: url('/assets/bariol_light.eot?#iefix') format('embedded-opentype'),
         url('/assets/bariol_light.woff') format('woff'),
         url('/assets/bariol_light.ttf') format('truetype'),
         url('/assets/bariol_light.svg#bariol-light') format('svg');
}


@font-face {
    font-family: 'bariol-bold';
    src: url('/assets/bariol_bold.eot');
    src: url('/assets/bariol_bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/bariol_bold.woff') format('woff'),
         url('/assets/bariol_bold.ttf') format('truetype'),
         url('/assets/bariol_bold.svg#bariol-bold') format('svg');
}