<div id="noaccessModal_share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin: -250px 0 0 -150px;">
	<div class="well">
		<h3>You are not permitted to access this feature. Please upgrade your account to gain access.</h3>
		<%= button_tag :cancel, :class => "btn", :'data-dismiss' => "modal" %>
		<%= button_tag :cancel, :class => "btn", :'data-dismiss' => "modal" %>
	</div>
</div>