<div id="noaccessModal_share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px;">
	<div class="modal-header">
		<a href = "" type="button" class="close" data-dismiss="modal" aria-hidden="true">X</a>
	</div>
	<div class="modal-body">
		<h3>You are not permitted to access this feature. Please upgrade your account to gain access.</h3>
	</div>
</div>