<%= form_tag root_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search], :placeholder => "Search Documents", :class => "searchbox"%>
	<%= submit_tag "Search", :class => "btn btn-info" %>
<% end %>
<p> <em> Can't find what you're looking for? </em> <%= link_to "Request a Document", requestcenter_path %></p>